html {
    font-size: 62.5%;
}

body {
    font-size: 1.6rem;
}

p {
    font-size: 2.5rem;
    font-weight: 600;
    /* text-align: center; */
}

ul {
    gap: 250px;
    background: aqua;
    display: flex;
    align-items: center;
    justify-content: center;
}

li {
    font-size: 2rem;
    font-weight: 500;
}
